@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
    color: #333;
    line-height: 1.6;

    /* BG */
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Header dan Judul */
h1, h2 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    color: #3a4e5f; /* Coklat lembut */
    margin-bottom: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
    margin-top: 20px;
    color: #3a4e5f; /* Merah gelap */
}

/* Formulir */
form {
    margin: 0 auto;
    max-width: 600px;
    background: #c7daeb; /* Warna pastel lembut */
    padding: 20px;
    border: 2px solid #f3cb51; /* Warna emas */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #3a4e5f; /* Coklat gelap */
}

input, textarea, button {
    width: 100%; /* Elemen form tidak melebihi lebar form */
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Pastikan padding tidak menambah lebar */
}

input:focus, textarea:focus {
    border-color: #f3cb51; /* Fokus warna coklat */
    outline: none;
    box-shadow: 0 0 5px rgba(252, 200, 59, 0.5);
}

/* Tombol */
button {
    background-color: #fff38a; /* Merah gelap */
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

/* Tabel */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #f3cb51;
}

th, td {
    text-align: left;
    padding: 12px;
    font-family: 'Arial', sans-serif;
}

th {
    background-color: #c7daeb; /* Warna emas */
    color: #3a4e5f;
    font-weight: bold;
}

td {
    background-color: #edf7ff; /* Warna pastel lembut */
}

/* Halaman */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #666;
}
